@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

* {
  box-sizing: border-box;
  font-family: "Covered By Your Grace", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: gray;
  h1 {
    font-size: 50px;
    padding-left: 25px;
    padding-top: 15px;
    color: whitesmoke;
  }
}

.newTaskContainer {
  display: grid;
  grid-template-rows: auto;
  color: blue;
  font-size: 40px;
  margin: 25px;
  padding: 15px;
  background-color: gainsboro;
  .newTaskContainer.div {
    color: blue;
    font-size: 50px;
  }
  .userInput {
    color: blue;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
  }
  .btn {
    font-weight: normal;
    color: white;
    background-color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border: 5px solid white;
    border-radius: .9em;
  }
  .btn:hover {
    background-color: gray;
    cursor: pointer;
  }
}

.statusContainers {
  display: grid;
  color: white;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.notStartedContainer {
  grid-column: 1;
  height: 200px;
  margin: 25px;
  border: 5px solid white;
  font-size: 30px;
  color: red;
  background-color: black;
  border-radius: .9em;
}

.inProgressContainer {
  grid-column: 2;
  height: 200px;
  margin: 25px;
  border: 5px solid white;
  font-size: 30px;
  color: yellow;
  background-color: black;
  border-radius: .9em;
}

.completedContainer {
  grid-column: 3;
  height: 200px;
  margin: 25px;
  border: 5px solid white;
  font-size: 30px;
  color: green;
  background-color: black;
  border-radius: .9em;
}

footer {
  padding-left: 25px;
}